<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
  <%- include('./layout/header'); -%>
    <main>
      <section class="banner">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <h2 class="fs-5 fw-bold text-primary bg-primary-10 rounded-1 p-2 d-inline-block mb-4">ZOBAA 旅行推薦平台</h2>
              <h1 class="fs-2 fw-bold text-primary"><span
                  class="d-block d-lg-inline-block">用旅行，</span><span>收藏世界的樣子</span>
              </h1>
            </div>
          </div>
        </div>
      </section>
      <section class="recommend py-10">
        <div class="container text-white mb-10 d-lg-flex justify-content-lg-between align-items-lg-center">
          <h3 class="mb-7">
            你的<br>
            專屬推薦
          </h3>
          <div>
            <p class="mb-4">來看我們的精選推薦行程，滿意度高達 99.2%<br>
              給自己一個難忘的旅遊行程吧！</p>
            <a href="#">查看全部行程 <span class="material-icons-outlined align-bottom ms-2">
                arrow_forward
              </span></a>
          </div>
        </div>
        <div class="container d-flex gap-5 overflow-x-auto">
          <div class="card text-bg-dark rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
            <img src="/assets/images/recommend.png" class="card-img h-100" alt="recommend">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h4 class="mb-2">峇里島渡假漫遊</h4>
              <p class="mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
              <button type="button" class="btn btn-light p-6 rounded-pill d-flex justify-content-between">訂購行程
                <span class="material-icons-outlined align-bottom">arrow_forward</span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
            <img src="/assets/images/recommend-1.png" class="card-img h-100" alt="recommend">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h4 class="mb-2">日本深度賞櫻計畫</h4>
              <p class="mb-7">春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。</p>
              <button type="button" class="btn btn-light p-6 rounded-pill d-flex justify-content-between">訂購行程
                <span class="material-icons-outlined align-bottom">arrow_forward</span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
            <img src="/assets/images/recommend-2.png" class="card-img h-100" alt="recommend">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h4 class="mb-2">紐西蘭雪山探險</h4>
              <p class="mb-7">探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。</p>
              <button type="button" class="btn btn-light p-6 rounded-pill d-flex justify-content-between">訂購行程
                <span class="material-icons-outlined align-bottom">arrow_forward</span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1">
            <img src="/assets/images/recommend-3.png" class="card-img h-100" alt="recommend">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h4 class="mb-2">摩洛哥迷幻之旅</h4>
              <p class="mb-7">漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。</p>
              <button type="button" class="btn btn-light p-6 rounded-pill d-flex justify-content-between">訂購行程
                <span class="material-icons-outlined align-bottom">arrow_forward</span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="container py-10">
        <div class="row flex-lg-row-reverse justify-content-lg-between align-items-lg-center">
          <div class="col-lg-4 mb-10 d-flex justify-content-lg-end">
            <div>
              <h3 class="mb-7 text-primary">ZOBAA!<br>
                踏上旅程的<br>
                第一站
              </h3>
              <p class="text-primary-60">探索最熱門的旅遊主題，<br>
                從旅人必備攻略到獨家優惠，<br>
                全都為你精挑細選。
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="card mb-5">
                  <img src="/assets/images/intro-1.png" class="card-img-top" alt="intro">
                  <div class="card-body p-7">
                    <h4 class="mb-2">ZOBAA 專屬推薦行程</h4>
                    <p>嚴選深度行程，豐富旅行靈感</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mb-5">
                  <img src="/assets/images/intro-1.png" class="card-img-top" alt="intro">
                  <div class="card-body p-7">
                    <h4 class="mb-2">ZOBAA 專屬推薦行程</h4>
                    <p>嚴選深度行程，豐富旅行靈感</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row offset-row">
              <div class="col-lg-6">
                <div class="card mb-5">
                  <img src="/assets/images/intro-1.png" class="card-img-top" alt="intro">
                  <div class="card-body p-7">
                    <h4 class="mb-2">ZOBAA 專屬推薦行程</h4>
                    <p>嚴選深度行程，豐富旅行靈感</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mb-5">
                  <img src="/assets/images/intro-1.png" class="card-img-top" alt="intro">
                  <div class="card-body p-7">
                    <h4 class="mb-2">ZOBAA 專屬推薦行程</h4>
                    <p>嚴選深度行程，豐富旅行靈感</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </section>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>